POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=unb_portal_dev
REDIS_PASSWORD=SenhaRedisSegura
JWT_KEY=ChaveSecretaSuperSeguraParaJWTUnBPortalDeDados
JWT_ISSUER=UnBPortalAPI
JWT_AUDIENCE=UnBPortalClients
FRONTEND_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5042
SUPERSET_SECRET_KEY=ChaveSupersetSeguraUnBPortal
SUPERSET_ADMIN_PASSWORD=Admin123!
SUPERSET_GUEST_TOKEN_JWT_SECRET=ChaveGuestTokenSupersetUnBPortal
SUPERSET_DB_USER=superset_reader
SUPERSET_DB_PASSWORD=superset_reader_pass
MASCARAMENTO_HMAC_KEY=ChaveHmacSeguraTrocarEmProducao

# EMAILS:
GMAIL_USERNAME=seu@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
FRONTEND_BASE_URL=http://localhost:5173

# SUPER ADMIN INICIAL:
SUPERADMIN_EMAIL=seu@email.com
SUPERADMIN_PASSWORD=SenhaForteAqui!