POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=unb_portal_dev
JWT_KEY=ChaveSecretaSuperSeguraParaJWT2024UnBPortalDeDados
JWT_ISSUER=UnBPortalAPI
JWT_AUDIENCE=UnBPortalClients
FRONTEND_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5042
