[submodule "Backend"]
	path = Backend
	url = https://github.com/Plataforma-Web-de-Dados-UnB/Backend.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Plataforma-Web-de-Dados-UnB/Frontend.git
